<h1>Tanner Gleason's Tiny Giraffe | ITIS 3135</h1>
<nav id="main-nav">
    <a href="./">Home</a>
    <a href="introduction.html">Introduction</a>
    <a href="contract.html">Contract</a>    
    <a href="website_evaluations.html">Website Evaluations</a>
    <a href="fccfsjs_outline.html">FCC Full Stack JavaScript Outline</a>
    <a href="intro_form.html">Introduction Form</a>
</nav>
<nav id="secondary-nav">
    <a href="tiny-giraffe/about.html">Tiny Giraffe</a>
    <a href="stuff/pages/home/Index page & home.htm">CRAPPY Website</a>
    <a href="hobby/">Hobby</a>
</nav>